#card {
  width: 19rem;
  height: 40rem;
  display: inline-flex;
  box-shadow: 10px 10px 18px #333333;
  margin: 5px;
}

img {
  width: 18rem;
  height: 17rem;
  margin: 0 auto;
  object-fit: cover;
}

div a {
  color: #666565;
}
div a:hover {
  text-decoration: none;
  color: #000000;
}
